<% provide(:title, "Lemonade Ledger Home") %>

<h1>Lemonade Ledger Home</h1>

<%= button_to "It's a new day!", new_day_path, method: :get, class: 'home_button' %>
<%= button_to "Admin Page", admin_login_path, method: :get, class: 'home_button' %>

<% if @days.any? %>
<h2>Open Ledgers</h2>
<ul>
  <% @days.each do |day| %>
    <li>
      <%= link_to day_display(day), day %>
    </li>
  <% end %>
</ul>
<% end %>
