<h1>New Ledger Opened</h1>

<p>
  Hey Desiree,
</p>
<p>
  A new ledger was opened for <%= @day.created_at.strftime("%m/%d").to_s + " " +  @day.location %>
</p>
<p>
  <%= link_to 'Click to see day', day_url(@day) %>
</p>
