$lemonade: #fcf37b;
$hot: #cecb9f;
$tea: lightpink;
$water: #d1faff;
$permanent: #ffd891;
$add_item: #d6f9c7;
$remove_item: #f9dbc7;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

// SITEWIDE STYLES
body {
  font-size: 17px;
  font-family: Helvetica;
}
h1 {
  margin-top: 0;
}
h2 {
  margin-bottom: 4px;
  text-decoration: underline;
}
ul {
  list-style: none;
  margin-top: 0;
}
.content_container {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
}
input {
  font-size: 1em;
  border-radius: 3px;

}
button {
  background-color: lightgrey;
  margin: 0 auto;
  border-radius: 5px;
}
p {
  margin: 0.3em;
}
.checkbox {
  padding-left: 15px;
}
.float_right {
  float: right;
}
.small_text {
  font-size: 0.7em;
}
input[type="submit"] {
  cursor: pointer;
  display: block;
}
input[type="submit"]:hover {
  background-color: lightgrey;
}

// Home page styles
.home_button {
  margin: 1em;
}

// Header styles
.header {
  form {
    display: inline;
    input[type="submit"] {
      cursor: pointer;
      display: inline;
    }
  }
  &_authentication {
    float: right;
    font-size: 0.7em;
  }
}

// form_field styles
.form_field {
  margin: 15px 0;
  > input {
    float: right;
    width: 4.5em;
    margin-left: 5px;
  }
  .field_with_errors {
    float: right;
    display: inline-block;
    color: red;
    > input {
      width: 3em;
      margin-left: 5px;
    }
  }
}

// SALE STYLES
.lemonade {
  background-color: $lemonade;
}
.hot {
  background-color: $hot;
}
.water {
  background-color: $water;
}
.permanent {
  background-color: $permanent;
}
.tea {
  background-color: $tea;
}

.item_div {
  vertical-align: top;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  height: 150px;
  width: 150px;
  margin: 10px;
  border: 1px solid darkgrey;
  &__misc {
    height: 225px;
    input {
      width: 4.5em;
      margin-top: 5px;
    }
    select {
      width: 5.5em;
    }
    label {
      font-size: 0.8em;
      margin-top: 5px;
    }
  }
}
.item_button {
  align-items: flex-start;
  padding: 0;
  display: inline-block;
  font-size: 2em;
  box-sizing: border-box;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  -webkit-appearance: none;
}
.add_item {
  background-color: $add_item;
}
.remove_item {
  background-color: $remove_item;
}
.sale_items {
  width: 15em;
  margin: 1em;
  th {
    border-bottom: 1px solid darkgrey;
  }
}
.total {
  width: 15em;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  border-bottom: 1px solid darkgrey;
}
#cash_tendered {
  width: 4.5em;
}
#sale_submit {
  padding: 3em;
  background-color: lightgreen;
}
.perm_item_button {
  font-size: 2em;
  height: 60px;
  width: 60px;
  margin: 0 5px;
}
.permanent_items {
  position: absolute;
}
.totals {
  display: inline-block;
  margin-left: 400px;
}
.freebie_div {
  position: absolute;
}

// Summary styles
.summary_table {
  width: 40em;
  text-align: left;
  border: 1px solid darkgrey;
  margin-bottom: 1em;
  th {
    border: 1px solid darkgrey;
  }
}

// admin page styles
.admin {
  h3 {
    margin: 0;
  }
}
.admin_div {

  border: 1px solid darkgrey;
  padding: 1em;
  p {
    font-size: 0.8
  }
}
.item_form_field {
  margin-bottom: 0.5em;
  label {
    margin-right: 4px;
  }
}
.items_index {
  width: 700px;
  border: 1px solid darkgrey;
  th {
    border-bottom: 1px solid darkgrey;
  }
}

// flash styles
.alert {
  align-items: center;
  text-align: center;
  width: 100vw;
  margin: 1em 0;
  padding: 1em 0;
  font-size: 1em;
  &-danger {
    border: 1px solid red;
  }
  &-info {
    border: 1px solid green;
  }
}

.debug_dump {
  width: 400px;
  font-size: 0.7em;
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  border: 1px solid black;
  @include box_sizing;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
